
    #main-body {
    //    background-color: #1d1e1f;
    }

    td {
        text-align: right;
    }

    #budget-variance-report-column-header {
        text-align: center;
    }

    #budget-variance-report-row-header {
        text-align: left;
    }