h1{
    color: #ffffff;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body{
    background: #ebebeb;
}

#main-body{
    top: 100px;
}

.navbar{
    height: 85px;
    background: white;
    padding-left: 20px;
    border-bottom: 2px solid #919792;
    box-shadow:0 1px 10px rgba(102, 114, 115, 0.53);
    -moz-box-shadow:0 1px 10px rgba(102, 114, 115, 0.53);
    -webkit-box-shadow:0 1px 10px rgba(102, 114, 115, 0.53);
}


.nav-icon{
    height: 60px;
    user-drag: none;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
}