#overview{
    margin-top: -25px;
}

h1 {
    color: #1d1e1f;
}

#propose_budget_button, #add_transaction_button, #view_all_transactions_button {
    margin-top: 15px;
    margin-right: 10px;
}

.row {
    padding-top: 15px;
    padding-bottom: 15px;
}

#yearly-budget-block {
    padding-bottom: 15px;
    border-bottom: solid 1px #dcdcdc;
}

#transactions-block {
    border-right: solid 1px #dcdcdc;
}

#view-block {
    padding-top: 15px;
    border-top: solid 1px #dcdcdc;
}